<div class="container">
  <div class="ms-5">
    <i class="bi bi-arrow-left me-2"></i
    ><a (click)="toJobsList()" class="job-search">Jobs Search</a>
  </div>
  <div class="card p-5 m-5" style="border: none">
    <div class="card-header" style="background-color: white">
      <h4 class="fs-title" style="color: black">{{ data.title }}</h4>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-7 mx-md-5">
          <div class="card" style="border: none">
            <div class="card-body">
              <div class="row">
                <span class="col-md-4 col-sm-12" style="color: gray"
                  ><strong
                    ><i class="bi bi-clock me-1"></i
                    >{{ data.created_at }}</strong
                  ></span
                >
                <span class="col-md-4 col-sm-12" style="color: gray">
                  <strong>
                    <i class="bi bi-folder me-1"></i>{{ data.category }}</strong
                  ></span
                >
                <span class="col-md-4 col-sm-12" style="color: gray">
                  <strong
                    ><i class="bi bi-geo-alt me-1"></i>{{ data.city }},
                    {{ data.country }}</strong
                  ></span
                >
                <!-- <span class="col-3"> categoryType</span> -->
              </div>
              <h3 class="pt-5 mt-3">Job Details</h3>
              <div class="pt-2">
                {{ data.description }}
              </div>

              <h3 class="pt-5 mt-3">Company Description</h3>
              <div class="pt-2">
                {{ data.company.description }}
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-3 mt-md-5 pt-md-2">
          <div class="card mt-5 mx-sm-3">
            <div
              class="card-body"
              style="background-color: rgba(119, 118, 118, 0.171)"
            >
              <div><strong>START DATE:</strong> {{ data.start_date }}</div>
              <div><strong>COMPANY:</strong> {{ data.company.name }}</div>
              <div><strong>SALARY:</strong> {{ data.salary }} DH</div>
              <div><strong>JOB TYPE:</strong> {{ data.type }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div
      class="card-footer ps-4 mt-3"
      style="background-color: white; border: none"
    >
      <button
        *ngIf="userData.role === 'Job Seeker'"
        class="btn btn-warning btn-style"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal2"
      >
        <strong>Apply Now</strong>
      </button>
      <button
        *ngIf="userData.role === 'Employer'"
        class="btn btn-warning btn-style"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal3"
      >
        <strong>Update</strong>
      </button>
    </div>
  </div>
</div>
<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal2"
  tabindex="-1"
  aria-labelledby="exampleModalLabel2"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 col-md-offset-3">
            <form [formGroup]="applyDetails" id="msform">
              <fieldset>
                <h2 class="fs-title">Apply To This Job</h2>
                <input type="text" formControlName="fullName" name="fullname" />
                <!-- <div *ngIf="applyDetails.controls['fullName'].errors">
                  <div
                    *ngIf="candidate['fullName'].errors?.['required']"
                    class="alert alert-danger"
                  >
                    This field is required
                  </div>
                </div> -->
                <input
                  type="email"
                  formControlName="email"
                  name="email"
                  placeholder="Email"
                />
                <!-- <div *ngIf="applyDetails.controls['email'].errors">
                  <div
                    *ngIf="candidate['email'].errors?.['required']"
                    class="alert alert-danger"
                  >
                    This field is required
                  </div>
                </div> -->
                <input
                  type="text"
                  formControlName="phoneNumber"
                  name="phonenumber"
                  placeholder="Phone Number"
                  class="form-control form-control-lg"
                />

                <select
                  class="form-select"
                  id="inputNumberOfExper"
                  name="numberofexper"
                  formControlName="numberOfExper"
                >
                  <option *ngFor="let s of series" [value]="s">
                    {{ s }}
                  </option>
                </select>
                <div *ngIf="applyDetails.controls['numberOfExper'].errors">
                  <div
                    *ngIf="candidate['numberOfExper'].errors?.['required']"
                    class="alert alert-danger"
                  >
                    This field is required
                  </div>
                </div>
                <input
                  type="file"
                  formControlName="resume"
                  name="resume"
                  placeholder="Add Your Resume"
                  (change)="uploadFile($event)"
                  class="form-control"
                  accept=".pdf"
                />
                <div *ngIf="applyDetails.controls['resume'].errors">
                  <div
                    *ngIf="candidate['resume'].errors?.['required']"
                    class="alert alert-danger"
                  >
                    This field is required
                  </div>
                </div>
                <textarea
                  rows="5"
                  cols="5"
                  formControlName="coverLetter"
                  placeholder="Cover Letter"
                  [ngClass]="{
                    'is-invalid': candidate['coverLetter'].errors
                  }"
                ></textarea>
                <!-- <div
                  *ngIf="
                    company_step &&
                    companyInformation.controls['companyDescription'].errors
                  "
                >
                  <div
                    *ngIf="company['companyDescription'].errors?.['required']"
                    class="alert alert-danger"
                  >
                    This field is required
                  </div>
                </div> -->
                <input
                  (click)="apply()"
                  type="submit"
                  name="submit"
                  class="submit action-button"
                  value="Apply"
                  data-bs-dismiss="modal"
                />
              </fieldset>
            </form>
          </div>
        </div>
      </div>
      <!-- <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
          Save changes
        </button>
      </div> -->
    </div>
  </div>
</div>
<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal3"
  tabindex="-1"
  aria-labelledby="exampleModalLabel3"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12 col-md-offset-3">
            <form [formGroup]="jobDetails" id="msform">
              <h2 class="fs-title">Job Details</h2>
              <div class="input-group mb-3">
                <select
                  class="form-select"
                  id="inputGroupSelect01"
                  formControlName="jobCategory"
                >
                  <option *ngFor="let c of categories" [value]="c.categoryName">
                    {{ c.categoryName }}
                  </option>
                </select>
              </div>
              <div *ngIf="jobDetails.controls['jobCategory'].errors">
                <div
                  *ngIf="job['jobCategory'].errors?.['required']"
                  class="alert alert-danger"
                >
                  This field is required
                </div>
              </div>
              <input
                type="text"
                formControlName="jobTitle"
                placeholder="Title"
              />
              <div *ngIf="jobDetails.controls['jobTitle'].errors">
                <div
                  *ngIf="job['jobTitle'].errors?.['required']"
                  class="alert alert-danger"
                >
                  This field is required
                </div>
              </div>
              <textarea
                rows="5"
                cols="5"
                formControlName="jobDescription"
                placeholder="Job Description"
              ></textarea>

              <div *ngIf="jobDetails.controls['jobDescription'].errors">
                <div
                  *ngIf="job['jobDescription'].errors?.['required']"
                  class="alert alert-danger"
                >
                  This field is required
                </div>
              </div>
              <div class="input-group mb-3">
                <select
                  class="form-select"
                  id="inputGroupSelect02"
                  formControlName="jobType"
                >
                  <option *ngFor="let j of jobsList" [value]="j.typeName">
                    {{ j.typeName }}
                  </option>
                </select>
              </div>
              <input
                type="text"
                formControlName="salary"
                placeholder="Salary ( DH )"
              />
              <input
                type="date"
                formControlName="startDate"
                placeholder="Start Date"
              />
              <input type="text" formControlName="city" placeholder="City" />
              <div *ngIf="jobDetails.controls['city'].errors">
                <div
                  *ngIf="job['city'].errors?.['required']"
                  class="alert alert-danger"
                >
                  This field is required
                </div>
              </div>
              <input
                type="text"
                formControlName="country"
                placeholder="Country"
              />
              <div *ngIf="jobDetails.controls['country'].errors">
                <div
                  *ngIf="job['country'].errors?.['required']"
                  class="alert alert-danger"
                >
                  This field is required
                </div>
              </div>
              <input
                (click)="updateJob()"
                type="submit"
                name="submit"
                class="submit action-button"
                value="Update"
                data-bs-dismiss="modal"
              />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
