<!-- Footer -->
<footer class="text-center text-white" style="background-color: #f1f1f1">
  <!-- Grid container -->
  <div class="container pt-2">
    <section class="mb-2">
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1 social-icon"
        href="https://github.com/hafsa2022"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="bi bi-linkedin"></i
      ></a>
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1 social-icon"
        href="https://www.linkedin.com/in/hafsa-el-akhdar-92b446198"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="bi bi-github"></i
      ></a>
      <a
        class="btn btn-link btn-floating btn-lg text-dark m-1 social-icon"
        href="#"
        role="button"
        data-mdb-ripple-color="dark"
        ><i class="bi bi-instagram"></i
      ></a>
    </section>
  </div>
  <!-- Copyright -->
  <div
    class="text-center text-dark p-3"
    style="background-color: rgba(0, 0, 0, 0.2); font-weight: 600"
  >
    © 2023 Copyright - Hafsa El akhdar
  </div>
  <!-- Copyright -->
</footer>
