<div class="container">
  <div class="card">
    <div class="card-body">
      <div class="card">
        <div class="card-body">
          <div class="mb-4">
            <h3>{{ data.job.title }}</h3>
          </div>

          <div class="" style="align-items: center; text-align: center">
            <div class="">
              <img
                *ngIf="applicantProfile.image"
                [src]="getImageUrl(applicantProfile.image)"
                class="rounded-circle"
                alt="..."
                width="140"
                height="130"
              />
              <img
                *ngIf="!applicantProfile.image"
                src="https://raw.githubusercontent.com/Ashwinvalento/cartoon-avatar/master/lib/images/male/45.png"
                class="rounded-circle"
                alt="..."
                width="150"
                height="140"
              />
            </div>

            <div>
              <h5>{{ data.username }}</h5>
            </div>
            <div *ngIf="applicantProfile.position">{{ data.position }}</div>
            <div *ngIf="data.resume">
              <a [href]="getResume(data.resume)">Download resume</a>
            </div>
          </div>
        </div>
      </div>

      <div class="card mt-5">
        <div class="card-header">
          <h5>Details</h5>
        </div>

        <div class="card-body">
          <div>
            <strong>Years of experience:</strong>
            {{ data.number_of_exp ? data.number_of_exp : 0 }}
          </div>
          <div>
            <strong>Email:</strong>
            {{ data.email }}
          </div>
          <div *ngIf="data.phone_number">
            <strong>Phone Number:</strong>
            {{ data.phone_number }}
          </div>
        </div>
      </div>
      <div class="card mt-5" *ngIf="data.cover_lettre">
        <div class="card-header"><h5>Cover Letter</h5></div>
        <div class="card-body">
          {{ data.cover_lettre }}
        </div>
      </div>
    </div>
  </div>
</div>
