<div class="container">
  <div class="card" style="border: none">
    <div class="card-header" style="border: none">
      <h4 class="fs-title">Dashboard</h4>
    </div>
    <div
      class="card-body"
      style="border: none; background-color: rgba(128, 128, 128, 0.05)"
    >
      <div class="row" style="justify-content: center">
        <div
          class="col-md-2 p-4 mx-4 mt-2 bg-white col-sm-6 text-center"
          style="border-radius: 6px"
        >
          <i
            class="bi bi-briefcase-fill me-2"
            style="font-size: 30px; color: violet"
          ></i
          ><span style="color: gray; font-size: large">12 Posts</span>
        </div>
        <div
          class="col-md-2 p-4 col-sm-6 text-center bg-white mt-2"
          style="border-radius: 6px"
        >
          <i
            class="bi bi-clipboard2-check me-2"
            style="font-size: 30px; color: rgba(194, 100, 105, 0.931)"
          ></i
          ><span style="color: gray; font-size: large"> 12 Applications</span>
        </div>
      </div>
      <div class="row mt-5">
        <!-- <div class="card"> -->
        <!-- <div class="card-body"> -->
        <div class="row">
          <div class="col-md-8">
            <div class="card-body bg-white" style="border-radius: 6px">
              <h5>Your Profile Views</h5>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card-body bg-white" style="border-radius: 6px">
              <h5>Notifications</h5>
              <div class="m-2">
                <i class="bi bi-bell-fill me-2" style="color: #eec409"></i>Hafsa
                applied for full stack job
              </div>
              <div class="m-2">
                <i class="bi bi-bell-fill me-2" style="color: #eec409"></i>Hafsa
                applied for full stack job
              </div>
              <div class="m-2">
                <i class="bi bi-bell-fill me-2" style="color: #eec409"></i>Hafsa
                applied for full stack job
              </div>
              <div class="m-2">
                <i class="bi bi-bell-fill me-2" style="color: #eec409"></i>Hafsa
                applied for full stack job
              </div>
              <div class="m-2">
                <i class="bi bi-bell-fill me-2" style="color: #eec409"></i>Hafsa
                applied for full stack job
              </div>
              <div class="m-2">
                <i class="bi bi-bell-fill me-2" style="color: #eec409"></i>Hafsa
                applied for full stack job
              </div>
            </div>
          </div>
        </div>
        <!-- </div> -->
        <!-- </div> -->
      </div>
      <div class="row mt-5">
        <div class="col-md-12">
          <div class="card-body bg-white" style="border-radius: 6px">
            <h5>Recent Applicants</h5>
            <div class="row g-0">
              <div class="col-md-4">
                <img src="..." class="img-fluid rounded-start" alt="..." />
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">FullName</h5>
                  <p class="card-text">Position</p>
                  <button class="btn btn-outline-warning btn-sm mb-3">
                    <strong>Profile View</strong>
                  </button>
                  <p class="card-text">
                    <small class="text-body-secondary">location</small>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
