.container {
  padding-top: 70px;
  padding-bottom: 120px;
}
/*headings*/
.fs-title {
  font-size: 18px;
  text-transform: uppercase;
  color: black;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-weight: bold;
}

.ng-valid:not(form) {
  border-left: 5px solid green;
}

.ng-invalid:not(form) {
  border-left: 5px solid red;
}

.form-check-input:checked {
  background-color: #ffc107;
  border-color: #ffc107;
}

.form-check-input:not(checked) {
  background-color: white;
  border: 1px solid rgba(139, 139, 139, 0.918);
}

input:focus {
  box-shadow: none !important;
  border: 1px solid #eec409;
  outline-width: 0;
  transition: All 0.5s ease-in;
}
