<div class="container">
  <div class="ms-5">
    <i class="bi bi-arrow-left me-2"></i>
    <a (click)="toProfilesList()" class="job-search" style="color: gray"
      >Profiles Search</a
    >
  </div>
  <div class="card p-5 m-5">
    <div class="card-body">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-9 col-sm-12">
              <div class="row">
                <div class="col-md-3">
                  <img src="..." class="img-fluid rounded-start" alt="..." />
                </div>
                <div class="col-md-8">
                  <div><h4>Kissie Hollidge</h4></div>
                  <div>System Administrator at Tiktok</div>
                  <div>Prague, Czech Republic</div>
                  <div><a href="#">View resume</a></div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-12 mt-md-4 mt-sm-2">
              <button
                class="btn btn-outline-warning"
                data-bs-toggle="modal"
                data-bs-target="#contactInfo"
              >
                <strong>Contact Info</strong>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="card mt-5">
        <div class="card-header">
          <h5>Details</h5>
        </div>

        <div class="card-body">
          <strong>Years of experience:</strong>
          10+
        </div>
      </div>
      <div class="card mt-5">
        <div class="card-header"><h5>Skills</h5></div>
        <div class="card-body">
          Server administration and deployment, Networking, Proficiency in
          Linux/Unix administration, AWS, GCP, Python, Ruby
        </div>
      </div>
      <div class="card mt-5">
        <div class="card-header"><h5>About</h5></div>

        <div class="card-body">
          Experienced and dedicated System Administrator with a strong
          background in managing and maintaining complex networks and systems.
          With over 5 years of experience in the field, I have developed a deep
          understanding of both Windows and Linux server administration,
          virtualization, cloud computing, firewall configuration, and security.
          I have a proven track record of optimizing system performance and
          minimizing downtime through proactive monitoring, quick
          troubleshooting, and efficient problem-solving. I have successfully
          managed and maintained a network of 50+ servers, including ensuring
          the proper configuration and maintenance of virtualization and cloud
          computing infrastructure. In addition, I have extensive experience in
          implementing and maintaining network security measures, including
          firewalls and access controls, to protect critical data and systems
          from unauthorized access and cyber threats. As a skilled and
          detail-oriented System Administrator, I also possess strong scripting
          and automation skills that have allowed me to develop and maintain
          scripts and automation tools to streamline system management tasks,
          improve efficiency, and reduce manual errors. Overall, I am confident
          that my technical expertise, problem-solving skills, and commitment to
          providing exceptional customer service make me a strong candidate for
          the System Administrator position at TikTok.
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div
  class="modal fade"
  id="contactInfo"
  tabindex="-1"
  aria-labelledby="contactInfoLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="border: none">
        <h1 class="modal-title fs-5" id="contactInfoLabel">Contact Information</h1>
      </div>
      <div class="modal-body">
        <diV class="card">
          <div class="card-body">
            <div><strong>Number Phone:</strong> 06</div>
            <div><strong>Email:</strong> emil@gmail.com</div>
          </div>
        </diV>

        <div class="modal-footer" style="border: none">
          <button
            type="button"
            class="btn btn-warning close-button"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
