<div class="container">
  <div class="ms-5">
    <i class="bi bi-arrow-left me-2"></i>
    <a (click)="toProfilesList()" class="job-search" style="color: gray"
      >Profiles Search</a
    >
  </div>
  <div class="card p-5 m-5">
    <div class="card-body">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-9 col-sm-12">
              <div class="row">
                <div class="col-md-3 pb-2">
                  <img
                    *ngIf="data.image"
                    [src]="getImageUrl(data.image)"
                    class="rounded-circle"
                    alt="..."
                    width="140"
                    height="130"
                  />
                  <img
                    *ngIf="!data.image"
                    src="https://raw.githubusercontent.com/Ashwinvalento/cartoon-avatar/master/lib/images/male/45.png"
                    class="img-fluid rounded-circle"
                    alt="..."
                    width="140"
                    height="130"
                  />
                </div>
                <div class="col-md-8 mt-2">
                  <div>
                    <h4>{{ data.username }}</h4>
                  </div>
                  <div *ngIf="data.position">{{ data.position }}</div>
                  <div *ngIf="data.city">
                    {{ data.city }}, {{ data.country }}
                  </div>
                  <div *ngIf="data.resume">
                    <a [href]="getResume(data.resume)">Download resume</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-12 mt-md-4 mt-sm-2">
              <button
                class="btn btn-outline-warning"
                data-bs-toggle="modal"
                data-bs-target="#contactInfo"
              >
                <strong>Contact Info</strong>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="card mt-5">
        <div class="card-header">
          <h5>Details</h5>
        </div>

        <div class="card-body">
          <strong>Years of experience:</strong>
          {{ data.number_of_exper ? data.number_of_exper : 0 }}
        </div>
      </div>
      <div class="card mt-5">
        <div class="card-header"><h5>Skills</h5></div>
        <div class="card-body">
          {{
            data.skills
              ? data.skills
              : "it's not updated yet! Go to my profile."
          }}
        </div>
      </div>
      <div class="card mt-5">
        <div class="card-header"><h5>About</h5></div>

        <div class="card-body">
          {{
            data.about ? data.about : "it's not updated yet! Go to my profile."
          }}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div
  class="modal fade"
  id="contactInfo"
  tabindex="-1"
  aria-labelledby="contactInfoLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="border: none">
        <h1 class="modal-title fs-5" id="contactInfoLabel">
          Contact Information
        </h1>
      </div>
      <div class="modal-body">
        <diV class="card">
          <div class="card-body">
            <div *ngIf="data.phone_number">
              <strong>Phone Number:</strong> {{ data.phone_number }}
            </div>
            <div><strong>Email:</strong> {{ data.email }}</div>
          </div>
        </diV>

        <div class="modal-footer" style="border: none">
          <button
            type="button"
            class="btn btn-warning close-button"
            data-bs-dismiss="modal"
          >
            Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
